.post {
    margin: 0 0 15px;
}

.post__header {
    margin: 0 0 15px;
}

.link {
    display: inline-flex;
    align-items: center;
    margin: 0 0 15px;
}

.link__icon {
    font-size: 2em;
}

.comments-section {
    margin-top: 30px;
}

.comments-section__header {
    font-weight: 400;
    margin-bottom: 20px;
}

.comment {
    margin-bottom: 20px
}

.comment__header {
    margin-bottom: 10px;
}

.comment__body {
    display: flex;
    flex-direction: column;
}

.comment__user-email {
    align-self: flex-end;
    font-size: 14px;
    font-weight: 300;
}